<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>create  a new listing</h2>
    <br>
    <form action="/listings/" method="post">
        <input type="text" name="listing[title]" placeholder="enter title"><br>
       <br> <textarea type="text" name="listing[description]" placeholder="enter description"></textarea><br>
        <input type="number" name="listing[price]" placeholder="enter price"><br>
        <input type="text" name="listing[country]" placeholder="enter country">
        <input type="text" name="listing[image]" placeholder="enter img uRL/link"><br>
        <input type="text" name="listing[location]" placeholder="enter location"><br>
        <button>ADD</button>
    </form>
    
</body>
</html>